mixin About
  +Section.py-6 
    .row.align-items-center
      .col-md-5.order-md-0.text-center.text-md-start
        img.img-fluid.mb-4(src=`${CWD}assets/img/illustrations/call-to-action.png` width="550"  alt='')
      .col-md-6.text-center.text-md-start.offset-md-1
        h6.fw-bold.fs-4.display-3.lh-sm Designed &amp; built by
          br
          | the latest code 
          br
          |integration
        p.my-4.pe-xl-5  The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.
        a.btn.btn-lg.btn-primary.rounded-pill.hover-top(href='#' role='button')
            | Learn more