mixin Cta
  section.py-6 
    hr
    .container
      .row.align-items-center
        .col-md-5.col-lg-7.order-md-1.text-center.text-md-start.z-index-2.cta-image
          img.img-fluid.mb-4.mb-md-0(src=`${CWD}assets/img/illustrations/cta.png` width="850"  alt='')
        .col-md-7.col-lg-5.text-center.text-md-start
          h1.display-3.fw-bold.lh-sm Download our App now
          p.my-4  The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.
          .d-flex.justify-content-center.d-md-inline-block
            a(href='!#').pe-2.pe-sm-3.pe-md-4
              img(src=`${CWD}assets/img/illustrations/google-play.png` width='160' alt='')
            a(href='!#')
              img(src=`${CWD}assets/img/illustrations/app-store.png` width='160' alt='')  