mixin Pricing 
  +Section.py-8#pricing
    .row.justify-content-center
      .col-md-8.col-lg-6.col-xxl-5.text-center.mb-3
        h6.fw-bold.fs-4.display-3.lh-sm.mb-3 Get awesome features, without extra charges
        p.mb-4 The rise of mobile devices transforms the way we consume information entirely and the world's most elevant channels such as Facebook.

    .row.flex-center
      .col-12.mb-3
        .d-flex.justify-content-center
          label.form-check-label.me-2(for='customSwitch1') Monthly
          .form-check.form-switch
            input#customSwitch1.form-check-input(type='checkbox' checked)
            label.form-check-label.align-top(for='customSwitch1') Yearly

      .col-lg-4
        .card.shadow-lg.mb-4.border-0
          .card-header.border-bottom-0.pt-7.pb-5
            .d-flex.justify-content-center
              h1.fw-bold $0
              span.d-flex.align-items-center /month
            h5.fw-bold.text-center Business Class
            span.text-700.text-center.d-block For small teams or office
          .card-body.mx-auto
            ul.list-unstyled.mb-4
              li.text-700.py-2.text-secondary Darg &amp; Drop Builder
              li.text-700.py-2.text-secondary 1,000's of Templates
              li.text-700.py-2.text-secondary Blog Support Tools
              li.text-700.py-2.text-secondary eCommerce Store 
            a.btn.btn-lg.btn-primary.rounded-pill.mb-3(href='#') Start free trial

      .col-lg-4
        .card.shadow-lg.mb-4
          .card-header.border-bottom-0.pt-7.pb-5
            .d-flex.justify-content-center
              h1.fw-bold $99
              span.d-flex.align-items-center /month
            h5.fw-bold.text-center Pro Master
            span.text-700.text-center.d-block For small teams or office
          .card-body.mx-auto
            ul.list-unstyled.mb-4
              li.text-700.py-2.text-secondary Darg &amp; Drop Builder
              li.text-700.py-2.text-secondary 1,000's of Templates
              li.text-700.py-2.text-secondary Blog Support Tools
              li.text-700.py-2.text-secondary eCommerce Store 
            .d-flex.flex-column 
              a.btn.btn-lg.btn-primary.rounded-pill.mb-3(href='#') Start free trial
              a(href='#') Or Start 14 days trail



