//-----------------------------------------------
//-     Background for a parent relative element
//-----------------------------------------------
mixin Background(background, attrs)
	if(background)

		.bg-holder(class=background.className, style={'background-image': 'url(' + background.image + ')'} )&attributes(background.attrs)= attrs

			if(background.video)
				video.bg-video(autoplay loop muted playsinline)&attributes(background.video.attrs)
					if(background.video.mp4)
						source(src=background.video.mp4 + '.mp4' type="video/mp4")
					if(background.video.webm)
						source(src=background.video.webm + '.webm' type="video/webm")
					if(background.video.ogv)
						source(src=background.video.ogv + '.ogv' type="video/ogv")

			if(background.youtube)
				.bg-youtube(data-property!=background.youtube)

		block
		///.bg-holder
		= '\n'
