extends layouts/LayoutTheme
include mixins/home/landing/HeroHeader
include mixins/home/landing/Company
include mixins/home/landing/AwesomeFeatures
include mixins/home/landing/SmartFeatures
include mixins/home/landing/About
include mixins/home/landing/ChooseFeatures
include mixins/home/landing/UltimateFeatures
include mixins/home/landing/Pricing
include mixins/home/landing/Testimonial
include mixins/home/landing/Faq
include mixins/home/landing/Cta
include mixins/home/landing/Footer


append variables
  - var currentPage = 'index'

prepend scripts
  

append content
  +HeroHeader
  +Companies
  +AwesomeFeatures
  +SmartFeatures
  +About
  +ChooseFeatures
  +UltimateFeatures
  +Pricing
  +Testimonials
  +Faqs
  +Cta
  +Footer